@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type='text'],
  input:where(:not([type])),
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full rounded-2xl border-none bg-transparent text-sm text-black placeholder:text-gray-400 focus:ring-0;
  }

  [aria-invalid='true'] {
    @apply ring-1 ring-red-600  focus:ring-red-600;
  }

  [type='checkbox'] {
    @apply rounded-full p-3 text-orange-400 focus:ring-orange-400;
  }

  /* CUSTOM SCROLL */
  .scroll-orange {
    --sb-track-color: theme(backgroundColor.transparent);
    --sb-thumb-color: theme(backgroundColor.orange.400);
    --sb-size: 3px;
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
  .scroll-orange::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
  }
  .scroll-orange::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
  }
  .scroll-orange::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 8px;
  }
}

@layer utilities {
  .clip-right-0 {
    clip-path: inset(0 0 0 100%);
  }
  .clip-0 {
    clip-path: inset(0 0 0 0);
  }
  .px-main {
    @apply px-4 lg:px-16;
  }
  .container-base {
    @apply mx-auto max-w-screen-xl;
  }
}
